#quest-desc .modal-wrap {
	width: 1200px;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #2E2E2E;
	top: 40px;
	&:after {
		content: '';
		width: 166px;
		background: url(../img/key.png) no-repeat center;
		background-size: contain;
		position: absolute;
		right: 0;
		height: 207px;
		bottom: -50px;
		right: -60px;
	}
}

.quest-desc {
	display: flex;
	justify-content: space-between;
	&__left,
	&__right {
		width: 50%;
	}
	&__right {
		padding: 20px;
	}
	&__left {
		margin: 10px 0 0 10px;
	}
	&__title {
		font-weight: 500;
		font-size: 36px;
		margin: 20px 0 10px;
	}
	&__subtitle {
		font-size: 18px;
		color: rgba(46, 46, 46, 0.6);
		margin-bottom: 40px;
	}
	&__name {
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 5px;
	}
	&__desc {
		font-size: 16px;
		color: rgba(46, 46, 46, 0.6);
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
		&.frame {
			display: flex;
			justify-content: center;
			height: 1964px;
		}
	}
	&__gallery {
		&-top {
			height: 80%;
			width: 100%;
			.swiper-slide {
				background-size: cover;
				background-position: center;
				&[style*='url("img/description/3/3.jpg");'] {
					background-position: top;
				}
			}
		}
		&-thumbs {
			height: 20%;
			padding: 10px 0;
			.swiper-slide {
				width: 25%;
				height: 100%;
				cursor: pointer;
				background-size: cover;
				background-position: center;
			}
		}
	}
}

@media (max-width: 740px) {
	#quest-desc .modal-wrap {
		width: 80vw;
		&:after {
			content: none;
		}
	}
	.quest-desc {
		flex-direction: column;
		&__left,
		&__right {
			width: 100%;
		}
		&__left {
			margin: 0;
		}
		&__gallery-top {
			height: 175px;
		}
		&__gallery-thumbs {
			height: 65px;
		}
		&__title {
			font-size: 16px;
			text-align: center;
			margin-top: 0;
		}
		&__subtitle {
			font-size: 12px;
			text-align: center;
			margin-bottom: 15px;
		}
		&__name {
			font-size: 12px;
			&.rating-name {
				text-align: center;
			}
		}
		&__desc {
			font-size: 11px;
			margin-bottom: 10px;
			&.rating {
				text-align: center;
			}
			&.frame {
				height: 4596px;
				iframe {
					width: 225px !important;
					height: 4596px !important;
				}
			}
			a {
				color: rgba(46,46,46,0.6);
			}
		}
	}
}